<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177184421695-gqrjt4ck7fcq0fnlo15ctgspm0mmpghu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177184421695-gqrjt4ck7fcq0fnlo15ctgspm0mmpghu</string>
	<key>API_KEY</key>
	<string>AIzaSyASdf5zho9tZzmVefUBo0cLWCxfnzY-eG4</string>
	<key>GCM_SENDER_ID</key>
	<string>177184421695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.justShop</string>
	<key>PROJECT_ID</key>
	<string>youshop-6d0b3</string>
	<key>STORAGE_BUCKET</key>
	<string>youshop-6d0b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177184421695:ios:ec02785c443efe5135c58a</string>
</dict>
</plist>